body {
    text-align: center;
}

h1 {
    color: blue;
}

#labels {
    display: flex;
    justify-content: space-around;
}

#container {
    display: flex;
    justify-content: space-around;
}

#playerContainer {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    width: 35%;
    border: solid green;
    background-color: black;
    gap: 5px;
    padding: 5px;
}

#computerContainer {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    width: 35%;
    border: solid blue;
    background-color: black;
    gap: 5px;
    padding: 5px;
    
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.tile {
    background-color: white;
    color: blue;
    padding: 1rem;
}